body {background-color: #3c398f;}

.header-banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://i.ibb.co/fr0XbF8/Planets.jpg"); 
	width:100%;
	height: 400px;
    background-position: center;
  	background-size: cover;
}

.header-text {
    font-family: 'Chakra Petch';
    text-align: center;
    position: center;
    padding: 20px;
    font-size: 50px;
	text-shadow: 2px 2px 2px #003b59;
    color: #4dffea;
  }

  
input[type=button]{
	font-family: 'Chakra Petch';
	margin: 10px;
	text-shadow: 1px 1px 2px #00b092;
	background: #3af0d1;
	border: 1px solid #4dd6bf;
	padding: 5px 15px 5px 15px;
	color: #d1fff7;
	box-shadow: inset -1px -1px 3px #5cffe4;
	-moz-box-shadow: inset -1px -1px 3px #5cffe4;
	-webkit-box-shadow: inset -1px -1px 3px #5cffe4;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
}

img {
	border: 1px solid #4dd6bf;
	border-radius: 4px;
	padding: 5px;
	width: 150px;
  }


/* sidebar */

.sidebar {
	margin: 0 auto;
	height: 100%; 
  	width: 160px; 
  	position: fixed; 
  	z-index: 1; 
  	top: 0;
  	left: 0;
	background-color: #003b59;
	color: #4dffea;
	font-family: 'Chakra Petch';
	text-align: center;
	overflow-x: hidden; 
  	padding-top: 20px;
  }

  .sidebar img{
	margin: 0 auto;
	width: 160px; 
	border: 1px solid #4dd6bf;
	border-radius: 4px;
	padding: 5px;
	width: 50px;
}

	.sidebar button{
	margin: 0 auto;
	width: 100px; 
	font-family: 'Chakra Petch';
	background: #3af0d1;
	border-radius: 4px;
	position: relative;
	top: 50px;
	border: 1px solid #4dd6bf;
	padding: 5px 15px 5px 15px;
	color: #d1fff7;
	box-shadow: inset -1px -1px 3px #5cffe4;
	-moz-box-shadow: inset -1px -1px 3px #5cffe4;
	-webkit-box-shadow: inset -1px -1px 3px #5cffe4;
	text-shadow: 1px 1px 2px #00b092;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
	}



  div.content {
	margin-left: 200px;
	padding: 1px 16px;
	height: 1000px;
	color: #4dffea;
	font-family: 'Chakra Petch';
  }

  div.content button{
	font-family: 'Chakra Petch';
	margin: 10px;
	background: #3af0d1;
	border: 1px solid #4dd6bf;
	padding: 5px 15px 5px 15px;
	color: #d1fff7;
	box-shadow: inset -1px -1px 3px #5cffe4;
	-moz-box-shadow: inset -1px -1px 3px #5cffe4;
	-webkit-box-shadow: inset -1px -1px 3px #5cffe4;
	text-shadow: 1px 1px 2px #00b092;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
}



 

/* form stylizing */

.container{
	position: absolute;
	top: 425px;
	left: 537px;
  } 

.form-style{
	max-width: 600px;
	font-family: 'Chakra Petch';
	position: absolute;
	top: 425px;
	left: 535px;
}
.form-style label{
	display:block;
	margin-bottom: 10px;
}
.form-style label > span{
	float: left;
	width: 100px;
	color: #04d1af;
	font-weight: bold;
	font-size: 13px;
	text-shadow: 1px 1px 1px #fff;
}
.form-style fieldset{
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	margin: 0px 0px 10px 0px;
	border: 1px solid #b9faef;
	padding: 20px;
	background: #e8fffb;
	box-shadow: inset 0px 0px 15px #d7f5f0;
	-moz-box-shadow: inset 0px 0px 15px #d7f5f0;
	-webkit-box-shadow: inset 0px 0px 15px #d7f5f0;
}
.form-style fieldset legend{
	color: #42f5d7;
	border-top: 1px solid #b9faef;
	border-left: 1px solid #b9faef;
	border-right: 1px solid #b9faef;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	background: #e1fffa;
	padding: 0px 8px 3px 8px;
	box-shadow: -0px -1px 2px #F1F1F1;
	-moz-box-shadow:-0px -1px 2px #F1F1F1;
	-webkit-box-shadow:-0px -1px 2px #F1F1F1;
	font-weight: normal;
	font-size: 20px;
}
.form-style textarea{
	width:250px;
	height:100px;
}
.form-style input[type=text],
.form-style input[type=date],
.form-style input[type=datetime],
.form-style input[type=number],
.form-style input[type=search],
.form-style input[type=time],
.form-style input[type=url],
.form-style input[type=email],
.form-style input[type=password],
.form-style select, 
.form-style link,
.form-style textarea{
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #98fae9;
	outline: none;
	color: #04d1af;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #b8fff3;
	-moz-box-shadow: inset 1px 1px 4px #b8fff3;
	-webkit-box-shadow: inset 1px 1px 4px #b8fff3;
	background: #c0fcf2;
	width:50%;
}
.form-style  input[type=submit],
.form-style  input[type=button]{
	background: #3af0d1;
	margin: 10px;
	border: 1px solid #4dd6bf;
	padding: 5px 15px 5px 15px;
	color: #d1fff7;
	box-shadow: inset -1px -1px 3px #5cffe4;
	-moz-box-shadow: inset -1px -1px 3px #5cffe4;
	-webkit-box-shadow: inset -1px -1px 3px #5cffe4;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	text-shadow: 1px 1px 2px #00b092;
	font-weight: bold;
}
.required{
	color:red;
	font-weight:normal;
}



/* user home grid */
.grid-container {
	display: grid;
	padding: 10px;
	grid-gap: 10px;
	grid-row-gap: 15px;
	grid-template-rows: max-content;
	grid-template-areas: "." "." ".";
	color: #4dffea;
	background-color: #02689c;
	border: 1px solid #4dd6bf;
	font-family: 'Chakra Petch';
  }

	#user-info img {
		width: 150px;
		float: left;
		border-radius: 5px;
		margin-right: 20px;
	}

	#user-info h1 {
		margin: 0 auto;
  		padding: 0;
	}

	#other-info h2{
		margin: 0 auto;
  		padding: 0;
	}


	#world-info img {
		width: 150px;
		float: left;
		border-radius: 5px;
		margin-right: 20px;
	}

	#world-info h1 {
		margin: 0 auto;
  		padding: 0;
	}

	#region-info img {
		width: 150px;
		float: left;
		border-radius: 5px;
		margin-right: 20px;
	}

	#region-info h1{
		margin: 0 auto;
  		padding: 0;
	}

	#region-info form{
		margin: 0 auto;
		padding: 0;

	}


.subgrid-container {
	display: grid;
	padding: 10px;
	grid-gap: 10px;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	grid-template-areas: "." "." "." ".";
}

.region-attr-grid-container {
	display: grid;
	padding: 10px;
	grid-gap: 10px;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas: "." ".";
  }

  #region-details img {
	float: left;
}

	#region-details p {
	right: 490;
}

/* grid column-row display */

.column {
    float: left;
    width: 25%;
  }
	 
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
	




